*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Times New Roman', Times, serif;
}
body {
    background: url(card.jpg);
    background-size: cover;
   
}
h1{
    color: rgb(160, 18, 18);
    text-align: center;
    border-bottom: 2px dotted white;
}
.game{
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    position: relative;
    top:-30px;
    font-weight: bolder;
}

.hello{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    color: white;
    font-size: 25px;
}
.text{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    color: white;
}
.text input{
    width: 80px;
    height: 30px;
    font-size: larger;
    text-align: center;
    border: 2px solid rgb(134, 4, 4);
    border-radius: 13px;
}
.text3 input{
    width: 120px;
    height: 30px;
    font-size: larger;
    text-align: center;
    border: 2px solid green;

}
.text3{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    color: white;
    padding-bottom: 10px;
}
h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    background-color:green;
}
.text4 {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    color: white;
    padding-top: 10px;
}

.text4 input{
    width: 150px;
    height: 30px;
    font-size: larger;
    text-align: center;}